{
  "plug": "Tensorflow",
  "host": "shinobi",
  "tfjsBuild": "cpu",
  "port": "8080",
  "hostPort": "8082",
  "key": "{{ shinobi_plugin_tensorflow_key }}",
  "mode": "client",
  "type": "detector",
  "maxRetryConnection": "100"
}