homeassistant: true
permit_join: true

frontend:
  port: 8080

mqtt:
  base_topic: "zigbee"
  server: "mqtt://mosquitto:1883"
#  ca: "/app/data/secure/ca.crt"
  client_id: "ZIGBEE_BRIDGE"
  user: "!secret mqtt_user"
  password: "!secret mqtt_password"
  reject_unauthorized: false
  include_device_information: true
  keepalive: 60
  version: 4

serial:
  port: "{{ zigbee_serial_port }}"
  disable_led: false

advanced:
  pan_id: {{ zigbee_pan_id }}
  channel: {{ zigbee_channel }}
  cache_state: true
  log_level: "info"
  log_output:
    - "console"
  baudrate: 115200
  rtscts: true
  network_key: "!secret zigbee_network_key"
  last_seen: "ISO_8601"
  elapsed: true
  availability_timeout: 60
  report: true
  homeassistant_discovery_topic: "homeassistant"
  homeassistant_status_topic: "hass/status"

#external_converters:
#  - devices/tuya/ts011f.js