<?xml version="1.0"?>
<streams>
  <Mjpg>
    <enabled type="bool">true</enabled>
    <streamPort type="number">{{ kios_stream_port }}</streamPort>
    <quality type="number">{{ kios_stream_quality }}</quality>
    <fps type="number">{{ kios_stream_fps }}</fps>
    <username type="text">{{ kios_stream_username }}</username>
    <password type="text">{{ kios_stream_password }}</password>
  </Mjpg>
</streams>
